extends layout

block content
	include menu.jade
	div.container-fluid
		h1= title
		
		div.integration
			p 
				|Please select the map you want integrated in your website:
			
			div.row
				div.col-md-12
					form.form-inline(role='form')
						.form-group
							div.input-group
								div.input-group-addon Select the map
								select#map.form-control(name='map')
									- each map in maps
										option(value='#{map.value}')
											|#{map.name}
						.form-group
							div.input-group
								div.input-group-addon Width
								input#width.form-control(type="number", min="50", max="1200", maxlength="4", size="4", name="width", value="#{settings.width}")
						.form-group
							div.input-group
								div.input-group-addon Height
								input#height.form-control(type="number", min="50", max="1200", maxlength="4", size="4", name="height", value="#{settings.height}")

						button.btn.btn-primary(type='submit') Submit
			div.row
				div.col-md-12
					small.remember 
						|Remember to press "Show code", in order to see the updated code.
			div.row
				div.col-md-12
					div.code
						|&lt;iframe seamless="seamless" scrolling="no" frameboder="0" style="width: #{settings.width}px; height: #{settings.height}px;" src="#{settings.path}">&lt;/iframe&gt;

block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
	script(src=path+'/libs/bootstrap/js/bootstrap.min.js')
	script(src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')