div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
	div.container-fluid
		div.navbar-header
			button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			div.navbar-icon-container
			a.navbar-brand(href="/") 
				img.logo(src=path+'/img/favicon.png')
				span politicalcolours.ro
			
		div.navbar-collapse.collapse
			ul.nav.navbar-nav
				li.dropdown
					a#maplist.dropdown-toggle(href="#" role="button" data-toggle="dropdown")
						| Maps 
						b.caret
					ul.dropdown-menu.multi-level(role="menu")
						li.dropdown-submenu
							a#link1(href="#" data-toggle="collapse" data-target=".navbar-collapse.in")
								| Local administration
							ul.dropdown-menu
								li
									a#link1(href=path+"/map/local/county_councils_presidents_2012" data-toggle="collapse" data-target=".navbar-collapse.in")
										| Presidents of the County Councils 2012
								li
									a#link1(href=path+"/map/local/mayors_2012" data-toggle="collapse" data-target=".navbar-collapse.in")
										| Mayors 2012
								li
									a#link1(href=path+"/map/local/mayors_2014_after_migration" data-toggle="collapse" data-target=".navbar-collapse.in")
										| Mayors 2014 after OUG 55/2014
						li.dropdown-submenu
							a#link1(href="#" data-toggle="collapse" data-target=".navbar-collapse.in")
								| Chamber of Deputies
							ul.dropdown-menu
								li
									a#link1(href=path+"/map/chamber_of_deputies/chamber_of_deputies_2008-2012" data-toggle="collapse" data-target=".navbar-collapse.in")
										| Chamber of Deputies 2008-2012
								li
									a#link1(href=path+"/map/chamber_of_deputies/chamber_of_deputies_2012-2016" data-toggle="collapse" data-target=".navbar-collapse.in")
										| Chamber of Deputies 2012-2016
						li.dropdown-submenu
							a#link1(href="#" data-toggle="collapse" data-target=".navbar-collapse.in")
								| Senate
							ul.dropdown-menu
								li
									a#link1(href=path+"/map/senate/senate_2008-2012" data-toggle="collapse" data-target=".navbar-collapse.in")
										| Senate 2008-2012
								li
									a#link1(href=path+"/map/senate/senate_2012-2016" data-toggle="collapse" data-target=".navbar-collapse.in")
										| Senate 2012-2016
						li.dropdown-submenu
							a#link1(href="#" data-toggle="collapse" data-target=".navbar-collapse.in")
								| Statistics
							ul.dropdown-menu
								li
									a#link1(href=path+"/map/statistics/population_census_2011" data-toggle="collapse" data-target=".navbar-collapse.in")
										| Population Census 2011
								li
									a#link1(href=path+"/map/statistics/campaign_tracker_2014" data-toggle="collapse" data-target=".navbar-collapse.in")
										| Campaign Tracker 2014
								li
									a#link1(href=path+"/map/statistics/motorways" data-toggle="collapse" data-target=".navbar-collapse.in")
										| Motorways
			ul.nav.navbar-nav.navbar-right.menu-fix
				li
					a#link1(href=path+"/about" data-toggle="collapse" data-target=".navbar-collapse.in")
						| About
				li
					a#link1(href=path+"/integration" data-toggle="collapse" data-target=".navbar-collapse.in")
						| Integration
				li
					a#link1(href=path+"/collaborators" data-toggle="collapse" data-target=".navbar-collapse.in")
						| Data Sources
				li
					a#link1(href=path+"/feedback" data-toggle="collapse" data-target=".navbar-collapse.in")
						| Feedback