extends ../layout

block content
    include ../menu.jade
    div#container
        div#map.sidebar-map
        div.map-tooltip

block scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='https://code.jquery.com/ui/1.11.2/jquery-ui.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js')
    script(src=path+'/libs/csv/jquery.csv-0.71.min.js')
    script(src=path+'/libs/bootstrap/js/bootstrap.min.js')
    script(src='http://d3js.org/topojson.v1.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/chroma-js/0.5.9/chroma.min.js')
    script(src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')
    script(src=path+'/libs/leaflet/plugins/easy-button.js')
    script(src=path+'/libs/leaflet/plugins/Control.TouchHover.js')
    script(src=path+'/libs/leaflet/plugins/SliderControl.js')
    script(src=path+'/js/_utils.js')
    script(src=path+'/js/campaign_tracker_2014.js')
